@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url(https://media2.giphy.com/media/doXBzUFJRxpaUbuaqz/giphy.gif?cid=ecf05e47ug0b1ufqv8j676felhkjdpai3jkba1i1sd7rtkkm&rid=giphy.gif&ct=g);
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  margin: 0;
}

nav {
  background-color: white;
  font-size: medium;
  font-family: 'Lato';
  color: black;
  scroll-padding-top: 50px;
  margin-top: 10px;
}


ul {
  margin: 50px;
  padding: -250px;
  display: flex;
}

li {
  list-style-position: inside;
}

a {
  position: center;
  display: block;
  margin: 45px 35px;
  padding: 100px 20px;
  color: #333;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: auto;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  left: -100%;
  background-image: url(https://media1.giphy.com/media/jxzhrKHs4q3V2i9tBH/giphy.gif?cid=ecf05e47yle777o6ok9o5bmm8800bc6z9byk64yhazehw5fy&rid=giphy.gif&ct=g);
  transition: 0.5s;
}

a:hover:before {
  animation: line 0.5s linear forwards;
}

@keyframes line {
  0% {
    left: -100%;
    height: 4px;
  }
  50% {
    left: 0;
    height: 4px;
  }
   100% {
    left: 0;
    height: 100%;
    z-index: -1;
  }
}

a:hover {
  color: limegreen;
}

h1 {
    color: white;
    font-size: 44px;
    background-color:black;
    
}

h2 {
    background-color:black;
    color: white;
}

p {
    background-color:black;
    color: white;
}